{% extends "layout.njk" %}

{% block head %}

        <title>Sobre - Desafio 3</title>

{% endblock %}

{% block content %}

        <div id="wrapper">
            <a href={{about.rockseat_url}} target="_blank"><img src={{about.image.url}} alt={{about.image.name}}></a>
            <br><br>
            <p>{{about.description}}</p>
            <br>
            <h1>Principais tecnologias utilizadas:</h1>

            
            <div class="list">

            {% for technologies in about.tecnologias %}
                <li>{{technologies}}</li> 
            {% endfor %}
            
            </div>
            

        </div>
        
        <div class="links">

        {% for link in about.links %}
            <a href={{link.url}} target="_blank">{{link.name}}</a>
        {% endfor %}

        </div>

        
{% endblock %}