{% extends "layout.njk" %}

{% block head %}

        <title>Sobre - Desafio 3-1</title>

{% endblock %}

{% block content %}

        <div id="wrapper">
            <a href="https:rocketseat.com.br" target="_blank"><img src="https://camo.githubusercontent.com/e3a00cb35e63ebc807f3d6c3178e1f17c24a70f3/68747470733a2f2f726f636b6574736561742e636f6d2e62722f7374617469632f6f672e706e67" alt="Rocketseat logo"></a>
            <br><br>
            <p>"Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível 🚀"</p>
            <br>
            <h1>Principais tecnologias utilizadas:</h1>
            <div class="list"><S></S>
                <li>Javascript</li> 
                <li>HTML5</li>
                <li>CSS3</li>
            </div>
        </div>
        <div class="links">
            <a href="https://www.facebook.com/rocketseat"target="_blank">Facebook</a>
            <a href="https://www.instagram.com/rocketseat_oficial/"target="_blank">Instagram</a>
            <a href="https://twitter.com/rocketseat"target="_blank">Twitter</a>
        </div>

{% endblock %}