{% extends "layout.njk" %}

{% block head %}

        <title>Not Found</title>

{% endblock %}

{% block content %}
    <div class="error">
        <h1>Erro 404</h1>
        <h2>This page was not found!</h2>
    </div>
{% endblock %}