@import "https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap";
:root {
    --color-white: rgb( 225, 225, 225);
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    color: var(--color-white);
    background: rgb(88, 62, 136);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header div {
    background: rgba(0, 0, 0, 0.493);
    padding: 30px;
    border-bottom: 1px solid #333333;
}

.links a {
    color: var(--color-white);
    font-size: 18px;
    line-height: 28px;
    margin: 0px 30px;
    text-decoration-line: none;
}

.links a:hover {
    color:#000000da;
    transition: 200ms;
}

#wrapper {
    padding: 30px;
}

#wrapper img {
    max-width: 400px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

#wrapper p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    line-height: 28px;
}

#wrapper h1 {
    font-size: 22px;
    line-height: 42px;
}

.list {
    padding-left: 37%;
}

.list li {
    text-align: left;
    line-height: 28px;
}

.card {
    padding-top: 20vh;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card p {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 10px 50px;
    padding: 2px 0px;
    border-radius: 10px;
}

.logo {
    background-color: rgba(7, 7, 7, 0.2);
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.logo img {
    margin: 0 auto;
}

/*---MODAL---*/

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: var(--color-white);
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

i {
    color: black;
    position: absolute;
    cursor: pointer;
}

#close {
    right: 8px;
    top: 8px;
}

#maximize {
    right: 48px;
    top: 8px;
}

/*---MODAL ACTIVE---*/

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal.active {
    width: 100%;
    height: 100%;
    margin: 0;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    left: 0;
    top: 8%;
}

/*---NOT FOUND---*/

.error {
    text-align: left;
    margin: 5vh;
}

.error h1 {
    font-size: 80px;
    line-height: 90px;
}

.error h2 {
    font-size: 20px;
    line-height: 30px;
}

/*---COURSE PAGE---*/
.course {
    height: 500px;
    width: 800px;
    margin: 50px auto;
    position: relative;
    background-color: white;
}

.course iframe {
    position: absolute;
    top: 25px;
    bottom: 25px;
}